.features {
  padding: 50px 13%;
}
  
.features__list {
  display: flex;
}

.features__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.features__list-item > img {
  display: block;
  height: 100px;
  margin-bottom: 20px;
}

.features__list-item > p {
  text-align: center;
  font-size: 13px;
}

.features__cta-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.features__cta {
  background-color: #FFFFFF;
  border: 2px solid #fbbc00;
  color: #513d01;
  font-size: 18px;
  padding: 15px 25px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .features {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media screen and (max-width: 750px) {
  .features {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media screen and (max-width: 650px) {
  .features__list {
    flex-direction: column;
  }

  .features__list-item {
    margin-top: 30px;
  }
}