.hero {
  display: flex;
  padding: 50px 17%;
  background-color: #f6f6f6;
}

.hero__content {
  width: 50%;
}

.hero__title {
  margin: 0;
  font-weight: 800;
}

.hero__subtext {
  line-height: 30px;
  margin-top: 20px;
}

.hero__cta {
  background-color: #fbbc00;
  color: #513d01;
  border: none;
  font-size: 18px;
  padding: 15px 25px;
  margin-top: 10px;
  cursor: pointer;
}

.hero__image {
  margin-left: 17%;
}

@media screen and (max-width: 1000px) {
  .hero {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media screen and (max-width: 750px) {
  .hero {
    padding-left: 2%;
    padding-right: 2%;
  }

  .hero__image {
    margin-left: 7%;
  }
}

@media screen and (max-width: 650px) {
  .hero {
    align-items: center;
    flex-direction: column-reverse;
    padding: 25px 7px;
  }

  .hero__title, .hero__content, .hero__image {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
}