.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: #dddddd;
  padding: 10px 0;
  white-space: nowrap;
}
  
.navbar__logo {
  display: flex;
  align-items: center; 
  margin-left: 17%;
  margin-right: 17%;
}

.navbar__image {
  width: 40px; 
  margin-right: 8px;
}
  
.navbar__menu {
  margin-left: 10%;
  margin-right: 15%;
}
  
.navbar__menu > a {
  cursor: pointer;
  margin-right: 40px;
}
  
.navbar__menu > a:hover {
  color: #e1a800;
}

.hamburger-icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navbar__logo {
    margin: 0 7%;
  }
}

@media screen and (max-width: 750px) {
  .navbar__logo {
    margin: 0 2%;
  }
}

@media screen and (max-width: 650px) {
  .hamburger-icon {
    display: block;
    margin-left: auto;
    margin-right: 20px;
  }

  .navbar__menu { 
    display: none;
  }

  .navbar__logo {
    margin: 0;
    margin-left: 20px;
  }
}